<footer>
    <div class="row">
        <div class="col-lg-2">
            <h6><a class="nav-link" href="/about">About</a></h6>
    </div>
    <div class="col-lg-0">
        <h6><a class="nav-link" href="/contact">contact</a></h6>
</div>
<div class="col-lg-6">
    <h6><p><br>Copyright &copy; TradeTales</p></h6>
</div>
<div class="col-lg-1">
    <img src="/images/facebook.png" alt="facebook" />
</div>
<div class="col-lg-0">
    <img src="/images/youtube.png" alt="youtube" />
</div>
<div class="col-lg-1">
    <img src="/images/twitter.png" alt="twitter" />
</div>
    </div>
    
</footer>
    
</body>

</html>