<%- include('./partials/header.ejs')%>
    <div class = "description">
        <h3><b>How It Works?</b></h3>
       <h4>Platform to swap your old electronic devices with newer electronic devices which is available here!</h4> 
    </div>
    <%- include('./partials/footer.ejs')%>  