<%- include('./partials/header.ejs')%>
<div class = "description">
    <h4>
        Address - University of North Carolina Charlotte <br>
        Phone - (xxx)-xxx-xxxx <br>
        Email - xxx@uncc.edu <br>
</h4> 
</div>
    <%- include('./partials/footer.ejs')%>  