<%- include('./partials/header.ejs')%>

    <div class = "content">
        
    
        <h4 style="text-align: center;">Welcome to Trade Tales</h4>
        <center><img src="/images/Trade_Banner.png" alt="trade phone" class="image-item-index" style="height: min-content; width: min-content;" /></center>
            <p style="text-align: center;font-size:1.1rem ;line-height: 1.5">Trade Tales is the trading platform for trading 
                electronic devices like mobile phones, tablets, laptops, 
                headphones, moniters, and many more. Trade Tales will 
                try to make your expreince smooth in the journey of electronic trading. </p>
    </div>
    <br>
    <br>
    <br>
    <br>
   
    <%- include('./partials/footer.ejs')%>  